
body {
  font-family: 'Century Gothic', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; 
  display: flex;
  flex-direction: column; 
  font-size: medium;
}

.container {
  flex: 1; 
  max-width: 900px; 
  margin: 50px auto; 
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
}

.navbar-inverse {
  background-color: #000000;
  border-color: #000000;
}


.header-section {
  background-position: center;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 3px #000000;
  padding: 40px 0;
  background-color: #333; 
}

footer {
  text-align: center;
  margin-top: auto; 
  background-color: #000000;
  color: #fff;
  padding: 20px 0; 
  font-size: small;
  width: 100%; 
}

.button-space {
  margin-right: 50px;
}
